.background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.gradient-layer-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
}

.gradient-layer-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
}

.background-blur-image {
  width: 130%;
  height: 130%;
  position: absolute;
  left: -15%;
  top: -15%;
  filter: blur(136px);
  object-fit: cover;
}
